* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
  background-color: #fffffe;
}

body {
  height: 100%;
  background: #fffffe; /* fallback for old browsers */
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header.start {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.start a {
   margin-left: 50px;
}

.welcome-text {
    font-family: "Noto Sans CJK TC", sans-serif
}

form {
    display: block;
}

header {
    background-color: #d1d1e9;
}
